<div style="height: 100%;" class="ui two column centered middle aligned grid ">

  <div class="column">

    <div class="ui fluid centered container">

      <div class="center aligned content">
        <div class="ui left aligned huge header"> Designer </div>
        <div class="ui right aligned large header">Your GUI for building your Techfolio </div>
        <div class="ui right aligned medium header">
          <div class="ui active inline loader"></div>
          {{ loadingMessage }}
        </div>
        <div class="ui right aligned medium header">{{ errorMessage }} </div>
      </div>

    </div>
  </div>
</div>
